.sport {
    background-image: url('../../assets/playerbg.jpg');
    color: #ffffff;
    padding: 20px;
    width: 100%;
    height: 90vh; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    font-family: 'Arial', sans-serif;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    line-height: 1.6;
}

.sport h3 { 
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding: 20px 210px;
}
