.curriculum-section {
  padding: 2rem;
  background-color: #f9f9f9;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.curriculum-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #0073e6;
  margin-bottom: 1rem;
  text-align: center;
}

.curriculum-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.curriculum-description {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  text-align: center;
}

.accordion-section {
  margin-top: 2rem;
}

.accordion {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.accordion h5 {
  font-size: 1.2rem;
  padding: 1rem;
  margin: 0;
  background-color: #0073e6;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion:hover {
  background-color: #e6f4ff;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: #f5f5f5;
  padding: 0 1rem;
}

.accordion.active .accordion-content {
  max-height: 500px; 
  padding: 1rem;
}

.accordion-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
  white-space: pre-wrap; 
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}


@media (max-width: 768px) {
  .curriculum-section {
    padding: 1rem;
  }

  .curriculum-heading {
    font-size: 1.8rem;
  }

  .curriculum-title {
    font-size: 1.2rem;
  }

  .accordion h5 {
    font-size: 1rem;
  }

  .accordion-content p {
    font-size: 0.9rem;
  }
}

